body {
background: #012A36 !important;
color: #001A23 !important;
font-family:’Marker Felt’;
}

div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img {
content: url('i.ibb.co/bRGh1Pc/logo-full-2.p…);
}


/* width */
::-webkit-scrollbar {
   width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #F4F7F5; 
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #94b3a4; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #64837e; 

}
.col-md-9.col-xs-12 {
background: #012A36 !important;
border: 4px double #000000 !important;
border-top: none !important;
border-right: none !important;
border-bottom :none !important;
}

div.container.main {
background: #012A36 !important;
border: 4px double #000000 !important;
border-left: none !important;
}
.navbar {
background: #388697 !important;
border: 1px solid #000000 !important;
border-bottom: none !important;
border-top: none !important;
border-right: none !important;
box-shadow: none !important;
font-family: ’Marker Felt’ ;
}

.navbar li a {
color: #001A23 !important;
}

.navbar li a:hover {
background: #000406 !important;
}

.breadcrumb {
background: #350306 !important;
color: #001A23 !important;
border: 1px solid #000000 !important;
}

.feature {
background: #350306 !important;
color: #001A23 !important;
border: 1px solid #000000 !important;
}

.topbar {
background: #350306 !important;
color: #001A23 !important;
border: 1px solid #000000 !important;
border-top: none !important;
border-bottom: 4px solid #000000 !important;
}

.sidebar {
background: #001A23 !important;
color: #F4F7F5 !important;
border: none !important;
}

.panel {
background: #388697 !important;
border: none !important;
box-shadow: none !important;
}

.chat_light {
background: none !important;
color: #001A23 !important;
border: none !important;
text-align: center !important;
}

.chat_dark {
background: none !important;
color: #F4F7F5 !important;
border: none !important;
text-align: center !important;
}

h1 {
text-align: center !important;
color: #001A23 !important;
font-family: 'Marker Felt' !important;
}

h3 {
text-align: center !important;
color: #001A23 !important;
font-family: 'Marker Felt' !important;
}

.top {
background: #350306 !important;
color: #F4F7F5 !important;
border: 1px solid #000000 !important;
text-align: center !important;
font-family: 'Marker Felt' !important;
}

th {
background: #350306 !important;
color: #F4F7F5 !important;
border: 1px solid #000000 !important;
text-align: center !important;
font-family: 'Marker Felt' !important;
}

.bottom {
background: #350306 !important;
color: #F4F7F5 !important;
border: 1px solid #000000 !important;
text-align: center !important;
font-family: 'Marker Felt' !important;
}

.left {
background: #350306 !important;
color: #F4F7F5 !important;
border: 1px solid #000000 !important;
text-align: center !important;
font-family: 'Marker Felt' !important;
}

td {
background: #388697 !important;
color: #F4F7F5 !important;
border: none !important;
}

.right_cub {
background: #350306 !important;
}

.cave-grid {
background: #001A23 !important;
color: #F4F7F5 !important;
border: 1px solid #000000 !important;
text-align: center !important;
font-family: 'Marker Felt' !important;
}

.beetle-grid {
background: #001A23 !important;
color: #F4F7F5 !important;
border: 1px solid #000000 !important;
text-align: center !important;
font-family: 'Marker Felt' !important;
}

a:link {
color: #64837e !important;
}

a:visited {
color: #64837e  !important;
}

a:hover {
color: #729690 !important;
}

.alert-danger {
background: #012A36 !important;
color: #388697 !important;
border: 1px solid #000000 !important;
text-align: center !important;
}

.alert-success {
background: #012A36 !important;
color: #388697 !important;
border: 1px solid #000000 !important;
text-align: center !important;
}

.attack-won {
background: #012A36 !important;
color: #388697 !important;
border: 1px solid #000000 !important;
text-align: center !important;
}

.attack-lost {
background: #012A36 !important;
color: #388697 !important;
border: 1px solid #000000 !important;
text-align: center !important;
}

input[type="button"] {
background: none !important;
color: #F4F7F5 !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="submit"] {
background: none !important;
color: #F4F7F5 !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="text"] {
background: none !important;
color: #F4F7F5 !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="password"] {
background: none !important;
color: #F4F7F5 !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

textarea {
background: none !important;
color: #F4F7F5 !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

select {
background: none !important;
color: #F4F7F5 !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="button"]:hover {
background: none !important;
color: #F4F7F5 !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="submit"]:hover {
background: none !important;
color: #F4F7F5 !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="text"]:focus {
background: none !important;
color: #F4F7F5 !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="password"]:focus {
background: none !important;
color: #F4F7F5 !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

textarea:focus {
background: none !important;
color: #F4F7F5 !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

select:focus {
background: none !important;
color: #F4F7F5 !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

.progress {
background: #729690 !important;
border: 1px solid #000000 !important;
}

.progress div {
color: #94b3a4 !important;
}

.progress-bar-warning {
background: #64837e !important;
}

.progress-bar-danger {
background: #64837e !important;
}

.progress-bar-success {
background: #64837e !important;
}

.progress-bar {
background: #64837e !important;
}
